@use "../variables" as *;

.mat-drawer.sidebarNav {
  width: $sidenav-desktop;
  flex-shrink: 0;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  overflow-x: hidden;
  border-inline-end: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-surface) !important;
  color: var(--mat-sys-on-background);

  .mat-drawer-inner-container {
    background-color: var(--mat-sys-surface) !important;
    color: var(--mat-sys-on-background) !important;
  }
}

.branding {
  padding: 11px 20px;
}

.sidebar-list {
  &.mdc-list {
    padding: 0 18px;
    width: $sidenav-desktop;

    app-nav-item {
      display: block;
      width: 100%;
    }

    .sub-item-icon {
      width: 16px !important;
      height: 16px !important;
      opacity: 0.8;
      margin-inline-end: 13px;
    }

    .mdc-list-group__subheader {
      margin: 0;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 1.5px;
      padding: 7px 0;
      line-height: 26px;

      .caption-icon {
        display: none;
      }
      .caption-text {
        display: inline;
      }
    }

    .sidebar-divider {
      height: 0.5px;
      display: block;
      margin: 12px 0;
      background: var(--mat-sys-outline);
      width: 100%;
    }
  }
}

.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.side-img {
  margin-inline-end: -30px;
}