@use "../variables" as *;

html .topbar {
  height: 48px;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  background-color: var(--mat-sys-surface) !important; /* Fond dynamique sombre/clair */
  color: var(--mat-sys-on-background);
  border-bottom: 1px solid var(--mat-sys-outline-variant);

  i-tabler {
    stroke-width: 1.5px;
    color: var(--mat-sys-on-background);
  }
}

.topbar-dd {
  min-width: 200px !important;
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.object-cover {
  object-fit: cover;
}

.app-topstrip {
  position: fixed;
  top: 0;
  z-index: 12;
  display: flex;
  background: linear-gradient(90deg, #001138 0%, #001e66 100%);

  @media (max-width: 991px) {
    flex-direction: column;
    gap: 16px;
  }

  .topstrip-right {
    display: flex;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .topstrip-right-inner {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .linkbar {
    border-inline-start: 1px solid rgba(255, 255, 255, 0.4); // Remplace border-left
    padding-inline-start: 20px; // Remplace padding-left
  }

  .text-linear-gradient {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ffffff 0%, #3772ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .live-preview-drop {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;

    &:hover,
    &:active {
      background-color: #3772ff;
    }
  }

  .get-pro-btn {
    background-color: #3772ff;
    border-radius: 4px;

    &:hover {
      background-color: #5d87ff;
    }
  }

  .link-hover {
    height: auto;

    &:hover,
    &:active {
      color: #5d87ff !important;

      .mat-mdc-button-persistent-ripple {
        &::before {
          opacity: 0 !important;
        }
      }
    }
  }
}