<div class="main-layout-container">
  <mat-sidenav-container class="mainWrapper" autosize autoFocus>
    <!-- Vertical Sidebar -->
    <mat-sidenav #leftsidenav 
                 [mode]="isOver ? 'over' : 'side'" 
                 [opened]="!isOver"
                 (openedChange)="onSidenavOpenedChange($event)" 
                 (closedStart)="onSidenavClosedStart()" 
                 class="sidebarNav">
      <div class="flex-layout">
        <app-sidebar [showToggle]="false" (toggleMobileNav)="leftsidenav.toggle()"></app-sidebar>
        <ng-scrollbar class="position-relative" style="height: 100%"></ng-scrollbar>
      </div>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="contentWrapper" #content>
      <app-header [showToggle]="!isOver" 
                  (toggleCollapsed)="toggleCollapsed()"
                  (toggleMobileNav)="leftsidenav.toggle()">
      </app-header>

      <div class="body-wrapper">
        <main class="pageWrapper maxWidth">
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>