<h2 mat-dialog-title>
      {{ data.id ? 'Modifier l\'organisation' : 'Ajouter une organisation' }}
    </h2>

    <mat-dialog-content class="p-24 d-flex flex-column gap-16" style="min-width: 400px;">
      
      <!-- Nom de l'organisation -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nom de l'organisation *</mat-label>
        <input matInput [(ngModel)]="data.nom" required placeholder="Ex: Direction Générale">
      </mat-form-field>

      <!-- 🟢 Sélecteur du Type d'organisation -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Type d'organisation *</mat-label>
        <mat-select [(ngModel)]="data.typeOrganizationId" required>
          <mat-option *ngFor="let type of typesOrganization" [value]="type.id">
            {{ type.libelle || type.code || ('Type #' + type.id) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Organisation Mère / Supérieure -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Organisation Mère (ID Supérieur)</mat-label>
        <mat-select [(ngModel)]="data.idOrganizationSup">
          <mat-option [value]="null">-- Aucune (Racine) --</mat-option>
          <mat-option *ngFor="let org of data.allOrgs" [value]="org.id">
            {{ org.nom }} (#{{ org.id }})
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end" class="p-16">
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-flat-button color="primary" [disabled]="!isValid()" [mat-dialog-close]="data">
        Enregistrer
      </button>
    </mat-dialog-actions>