mat-form-field.w-100 {
  width: 100% !important;
  display: block !important;
}

.snack-error {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-mdc-snack-bar-button-color: #ffffff;
}

.snack-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

